<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <application>
        <!--  即使没有在代码中设置 也可以在清单文件中读取到百度语音的app_id、api_key、secret_key -->
        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="87114144">
        </meta-data>
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="dTGD2VCXjJak3dtvWeGOLYUc">
        </meta-data>
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="u86JN3mX5QrOwoc1snYhLAOHz5C1Wz4R">
        </meta-data>
        <service android:name=".service.InitService" android:exported="true"/>
        <activity
            android:name=".base.BaseActivity"
            android:exported="false" />
    </application>

</manifest>