<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    package="com.example.lib_base"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.DELETE_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 获取访问手机振动器权限，用于导航过程中的震动提示 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 获取摄像头权限，用于AR步行导航 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <!--  即使没有在代码中设置 也可以在清单文件中读取到百度语音的app_id、api_key、secret_key -->

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="94414114">
        </meta-data>
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="2RMkyrpU6GdRfD3OfIcCMcho">
        </meta-data>
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="9S8qhfKTs8xX53gnCYpv6Ax9xuO4svfx">
        </meta-data>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="6gKiBKFds0Tya3aJNBDwocN7TZ5vqmw9" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="d58038de2fbf588b6ea6af280dc5cc51"/>

        <service android:name=".service.InitService"/>
        <activity
            android:name=".base.BaseActivity"/>
        <service android:name="com.baidu.location.f"
            android:enabled="true" android:process=":remote">
        </service>
        <service android:name="com.amap.api.location.APSService"/>
    </application>

</manifest>